---
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout title="starter-dashboard-layout">
    <main class="p-4">
        <h1 class="text-4xl underline text-primary-dark">Home page</h1>
    </main>
</MainLayout>
